<div class="form-group col-sm-12">
	<label for="titleInput">Título</label>
	<input type="text" class="form-control" id="titleInput" ng-model="book.title"/>
</div>
<div class="form-group">
	<div class="col-sm-6">
  		<label for="authorInput">Autor</label>
		<input type="text" class="form-control" id="authorInput" ng-model="book.author"/>
	</div>
	<div class="col-sm-6">
  		<label for="valueInput">Valor</label>
		<input type="text" class="form-control" id="valueInput" ng-model="book.value"/>
	</div>
</div>
<div class="form-group col-sm-12">
 	<label for="descriptionInput">Descrição</label>
	<textarea class="form-control" id="descriptionInput" ng-model="book.description"></textarea>
</div>