<div ng-controller="ListController">
	<div id="confirmation-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Atenção</h4>
				</div>
				<div class="modal-body">
					<p>Confirma a remoção do livro?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="deleteBook()">Deletar</button>
				</div>
			</div>
		</div>
	</div>
	<div id="deleted-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Sucesso</h4>
				</div>
				<div class="modal-body">
					<p>O Livro foi removido com sucesso</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h1>Listagem</h1>
		<p><a href="#/book/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Cadastrar Livro</a></p>
	</div>
	<div class="row table-responsive">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Opcões</th>
					<th>Título</th>
					<th>Autor</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in books">
					<td>
						<a class="btn btn-danger" ng-click="onDeleteBtnClickedHandler(book)"><span class="glyphicon glyphicon-trash"></span> Deletar</a>
						<a href="#/book/edit/{{book.id}}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Editar</a>
					</td>
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
					<td>{{book.value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>