<div ng-controller="NewController">
	<div id="created-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Sucesso</h4>
				</div>
				<div class="modal-body">
					<p>O Livro foi cadastrado com sucesso</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header">
		<h1>Cadastro</h1>
		<p><a href="#/" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Listagem</a></p>
	</div>
	<div class="row">
		<form ng-submit="onSubmitFormBtnClickedHandler()">
			<div ng-include="'assets/partials/_form.html'"></div>
			<button class="btn btn-default">Cadastrar</button>
		</form>
	</div>
</div>